.table1 {
    text-align: left;
    margin-left: 30px;
    font-style: initial
}

img {
    position: relative;
    left: 300px;
    width:719px;
    height:426px;
}

.item1{
    color:black;
}

.item2 {
    color: rgb(151, 144, 144);
    opacity: 80%

}

.plus {
margin-left: 100px;


}